
@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

*,*::before, *::after{
box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust:100%;
}

body {
  font-size:12px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

header {
  margin: 0 1em;
  padding: 15px 0 0;
}

a {
  text-decoration: none;
}

.logo {
  width:35%;
  margin:0.5em;
}

.buy-button{
  width:45%;
  text-align:center;
  text-decoration: none;
  font-size:1rem;
  font-weight: bold;
  border-radius:8px;
  border-color:blue;
  margin:auto;
  padding:0.5em 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  clear:both;
}

/*-------media screen 25em------*/
@media only screen and (min-width: 25em) {

.logo {
    width:25%;
    margin:1em 2em;
    float:left;
}

.buy-button{
    width:15%;
    margin-right:30%;
    padding:1em 0;
}

}
/*-------------*/


/*-------media screen 32em------*/
@media only screen and (min-width: 32em) {

.logo {
    width:15%;
    margin:30%;
    float:left;
}

.buy-button{
    width:15%;
    margin-right:30%;
    padding:1em 0;
}

h1 {
  text-align: center;
  padding-top:0;
}

body {
  font-size: 0.7rem;
}

}
/*-------------*/

.nav {
  margin:0;
  padding:0;
  background-color:blue;
}

.nav a{
  display:block;
  padding: 0.25em 1em 0em 1em
}

.nav li{
  margin:0;
  display:block;
  text-align:center;
  width:100%;
  list-style-type:none;
}

a:hover {
  color:red;
}


/*-------media screen 25em------*/
@media only screen and (min-width: 25em) {

  .nav {
    margin:0;
    padding:0;
    background-color:blue;
    overflow:hidden;
  }

  .nav a{
    padding: 0em;
  }

  .nav li{
    float:left;
    width:30%;
  }

/*-------------*/

figure {
  width:100%;
  position:relative;
  margin:0;
}

banner-image{
  width:100%;
  margin:0;
}

banner-text {
  bottom:1rem;
  color:yellow;
  position:absolute;
  text-align:center;
  width:100%;
  font-size:1rem;
}

/*-------media screen 25em------*/
@media only screen and (min-width:25em){

banner-text {
  color:yellow;
  font-size:1rem;
}
}

/*-------media screen 52em------*/
@media only screen and (min-width:52em){

banner-text {
  color:yellow;
  font-size:1.25rem;
}
}
/*-------------*/

h2{
  text-align:center;
  font-weight:700;
  display: block;
  font-size: 22px;
  padding: 0.75em 0 0 0;
  clear: both;
}

.seven-wonders{
  border-top-style:none;
}

.wonders{
  width:100%;
  padding:1em 0 0 0;
  overflow:hidden;
  margin:0 1em 0 1em;
}

h3{
  margin:0.25em 1em 0 1em;
}

dl{
  list-style:none;
  display:inline;
}

dt{
  margin:0 1em 0 1em;
  float: left;
  clear: left;
}

dd{
  margin:0 0 0 0.25em;
  float:left;
}

.wonders-link{
  text-align: center;
  clear:both;
  padding: 1em 0 0 0;
}

/*-------media screen 32em------*/
@media only screen and (min-width: 32em){

  .wonders{
    width:60%;
    padding:0.5 0 0 0;
  }

  .wonders-link{
    padding-top: 0.5em;
  }

  dt{
    float: none;
    padding: 1em 0 0 0;
  }

  dd{
    float:none;
  }
}

/*-------media screen 52em------*/
@media only screen and (min-width: 52em){

  .wonders{
    width:50%;
  }

  .wonders-link{
    text-align:left;
  }

  dt{
  margin:0;
  }

  dd{
    margin:0;
  }
}
/*------------*/

.tickets-text{
  text-align:center;
}

.left-button{
  float:left;
  width:50%;
  background-color:purple;
  border-style:solid;
}

.right-button{
  float:left;
  width:50%;
  background-color:purple;
  border-style:solid;

/*-------media screen 25em------*/
@media only screen and (min-width: 25em){

  .tickets-text{
    padding:0.5em 3em;
  }
}

/*-------media screen 32em------*/
@media only screen and (min-width: 32em){

.tickets-text{
    text-align:center;
}

.left-button{
    float:left;
    width:30%;
    margin:0 4em;
}

.right-button{
    float:left;
    width:30%;
    margin:0 4em;
}
}
/*-------------*/

.this-week{
  padding:0;
}

.activities  {
  padding: 0 0 0 2em;
}

/*-------------*/

.footer-nav {
  margin: 0;
  text-align:left;
  padding: 0;
}

footer {
  border-top-style: solid;
  border-top-width: thin;
  margin: 0 1em 0 1em;
}

.contact {
  padding: 0;
}
/*-------------*/

/*-------media screen 50em------*/
@media only screen and (min-width:50em){
  .footer-nav {
    margin: 0;
    text-align:left;
    padding: 0;
  }

  footer {
    border-top-style: solid;
    border-top-width: thin;
    margin: 0 1em 0 1em;
  }
}
